<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title #{docTitle}
        link(rel="stylesheet", href="/css/main.css")
        link(rel="stylesheet", href="/css/product.css")
    body
        header.main-header
            nav.main-header__nav
                ul.main-header__item-list
                    li.main-header__item
                        a.active(href="/") Shop
                    li.main-header__item
                        a(href="/admin/add-product") Add Product

		main
			.grid
				each product in prods
					article.card.product-item
						header.card__header
							h1.product-title #{product.title}
						.card__image
							img(src="", alt="")
							img(src="", alt="")
						.card-content
							h2.product-price $1.99
							p.product__description Lorem Ipsum 
						.card-content
							button.btn Add to Cart